<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Zerodha - Bhavcopy Analysis">
        <meta name="author" content="Jay Jayswal">

        <title>Zerodha - Bhavcopy Analysis</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
        <body>


            <div class="jumbotron text-center" style="margin-bottom:0">
              <h1>Zerodha - Equity bhavcopy analysis challenge</h1>
              <p style="font-size: 14px;">BSE publishes a "Bhavcopy" file every day <a href="https://www.bseindia.com/markets/MarketInfo/BhavCopy.aspx">here</a>
    Write a Python script that:- Downloads the Equity bhavcopy zip from the above page- Extracts and parses the CSV file in it- Writes the records into Redis into appropriate data structures(Fields: code, name, open, high, low, close)
    Write a simple CherryPy python web application that:- Renders an HTML5 + CSS3 page that lists the top 10 stock entries from the Redis DB in a table- Has a searchbox that lets you search the entries by the 'name' field in Redis and renders it in a table- Make the page look nice!
    Commit the code to Github. Host the application on AWS or Heroku or a similar provider and share both the links.</p>
            </div>

            <div class="container" ng-app="web-app" ng-controller="form-controller" style="margin-top:30px">
                {{ test_var }}
              <div class="row">
                <div class="col-sm-4">
                  <h2>About Me</h2>
                  <h5>Photo of me:</h5>
                  <div class="fakeimg">Fake Image</div>
                  <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
                  <h3>Some Links</h3>
                  <p>Lorem ipsum dolor sit ame.</p>
                  <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                      <a class="nav-link active" href="#">Active</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                  </ul>
                  <hr class="d-sm-none">
                </div>

                <div class="col-sm-8">
                  <h2>TOP STOCKS</h2>
                  <h5>Title description, Dec 7, 2017</h5>
                  <div><b>Assumptions:</b></div>
                  <p>Assuming logic of top stock logic must be "Highest positive percentage movement first"</p>
                  <br>
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">First</th>
                          <th scope="col">Last</th>
                          <th scope="col">Handle</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Mark</td>
                          <td>Otto</td>
                          <td>@mdo</td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Jacob</td>
                          <td>Thornton</td>
                          <td>@fat</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>Larry</td>
                          <td>the Bird</td>
                          <td>@twitter</td>
                        </tr>
                      </tbody>
                    </table>
                    <nav aria-label="Page navigation example">
                      <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                      </ul>
                    </nav>

                  <h2>SEARCH STOCKS</h2>
                    <br/>
                    <div class="input-group mb-3    ">
                      <input type="text" class="form-control" placeholder="Stock's name" aria-label="Recipient's username" aria-describedby="button-addon2">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
                      </div>
                    </div>

                     <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">First</th>
                          <th scope="col">Last</th>
                          <th scope="col">Handle</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Mark</td>
                          <td>Otto</td>
                          <td>@mdo</td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Jacob</td>
                          <td>Thornton</td>
                          <td>@fat</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>Larry</td>
                          <td>the Bird</td>
                          <td>@twitter</td>
                        </tr>
                      </tbody>
                    </table>

                </div>
              </div>
            </div>

            <br/><br/>
            <div class="jumbotron text-center" style="margin-bottom:0">
              <p>Footer</p>
            </div>


            <script src="/static/js/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="/static/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            <script src="/static/js/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="/static/js/angular.min.js" ></script>
            <script>
                $("document").ready(function(){


                });
            </script>

            <script src="/static/js/app.js"></script>

        </body>
</html>